$package

import java.util.HashMap;
import java.util.Map;

import com.leaderli.li.flow.base.BaseServlet;
import com.leaderli.li.flow.base.Session;

public class $name implements BaseServlet{

	public  void service(Session session) {
		
	}
	
	
	public Map<String, String> getBranches(){

$getBranches

	}
}